body {
	background: #1a1a1a;
}

.box {
	border: 1px solid #fff;
	background-color: #000;
	position: relative;
}

.box::after {
	content: attr(pixel_value);
	color: yellow;
	font-family: monospace;
	float: right;
	position: absolute;
	bottom: .5em;
	right: .5em;
}

.layout {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}